.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(219, 220, 215);
    position: fixed;
    top: 50px;
  }
  
  .sidebarWrapper {
    padding: 20px;
    color: #484343;
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle {
    font-size: 18px;
    color: rgb(187, 186, 186);
  }
  
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(183, 183, 192);
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 30px !important;
  }